
.navbar.navbar-expand-lg.navbar-light.bg-light {
    color: purple;
    background-color: #673AB7!important;
}

body {
    background-color: #607D8B;
}

/* .container {
    background-color: seashell;
} */

.contentColumn {
    background-color: #e9ecef;
}

.container.rounded {
    border-radius:.25rem!important
}

.btn-primary {
    color: #fff;
    background-color: rgb(107, 0, 128);
    border-color: gray;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #673AB7!important;
    border-color: gray; /*set the color you want here*/
}

.dropdown-item.active,.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: rgb(107, 0, 128);
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
    margin: .25rem;
}

.rounded {
    border-radius: 25px;
    padding: 1%;
}

.img-thumbnail {
    width: 150px;
}

.leftInner {
    margin-right: 10px;
    /* background-color: hotpink; */
}

.leftColumn {
    background-color:#e9ecef;
    margin-right: 10px;
}

/*add with media query
td {
    font-size: ;
}*/